USE [master]
GO
/****** Object:  Database [PartidosDb]    Script Date: 13/11/2024 19:57:47 ******/
CREATE DATABASE [PartidosDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PartidosDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PartidosDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PartidosDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PartidosDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PartidosDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PartidosDb]
GO
/****** Object:  Table [dbo].[Deporte]    Script Date: 13/11/2024 19:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deporte](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Deporte] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 13/11/2024 19:57:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partido](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NOT NULL,
	[EQUIPO_LOCAL] [varchar](50) NOT NULL,
	[EQUIPO_VISITANTE] [varchar](50) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PARTIDO] [datetime] NOT NULL,
	[MARCADOR_LOCAL] [int] NOT NULL,
	[MARCADOR_VISITANTE] [int] NOT NULL,
 CONSTRAINT [PK_Partido] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deporte] ON 

INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'FUTBOL')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'BASQUET')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'TENIS')
SET IDENTITY_INSERT [dbo].[Deporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Partido] ON 

INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (27, 1, N'BELGRANO', N'TALLERES', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-09-29T00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (30, 2, N'ATENAS', N'ATALAYA BASQUET', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-09-29T00:00:00.000' AS DateTime), 85, 78)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (31, 3, N'ALTE BROWN TENIS', N'BELL BUENOS AIRES', CAST(N'2024-09-29T00:00:00.000' AS DateTime), CAST(N'2024-09-29T00:00:00.000' AS DateTime), 0, 3)
SET IDENTITY_INSERT [dbo].[Partido] OFF
GO
ALTER TABLE [dbo].[Partido]  WITH CHECK ADD  CONSTRAINT [FK_Partido_Deporte] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[Deporte] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[Partido] CHECK CONSTRAINT [FK_Partido_Deporte]
GO
USE [master]
GO
